@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';

.card {
  border: 2px solid black;
  border-radius: $rounding;
  width: 1038px;
  border: 1px solid #F1F3F5;
  padding: 24px;
  display: flex;
  gap: 24px;
  background-color: #fff;
  transition: $transition;

  &:hover {
    box-shadow: 0px 0px 9px rgba(97, 97, 97, 0.03), 0px 0px 8px rgba(97, 97, 97, 0.1), 0px 0px 6px rgba(97, 97, 97, 0.17), 0px 0px 3px rgba(97, 97, 97, 0.2), 0px 0px 0px rgba(97, 97, 97, 0.2);
  }

  &__carousel {
    border-radius: 8px;
    overflow: hidden;
  }

  &__amenity {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 3px 8px;
    border: none;
    background: #EAFAEE;
    border-radius: 4px;
    text-align: center;
    color: #2DC954;
  }

  &__info {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__name {
    display: block;
    margin-bottom: 8px;
  }

  &__map {
    display: block;
    border-bottom: 1px solid #ffffff;
    width: fit-content;
    transition: $transition;

    &:hover {
      border-bottom: 1px solid #868E96;
    }
  }

  &__grade {
    width: 100%;
  }

  &__stars {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
  }

  &__star {
    width: 16px;
    height: 16px;
    background: url("./../../images/iconss/gray-star-filled.svg") center no-repeat;
  }


  &__feature {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 3px 8px;
    border: none;
    // color: #2DC954;
    background: #EAFAEE;
    border-radius: 4px;
    text-align: center;
  }

  // &__views {
  //   display: block;
  //   margin-bottom: 8px;
  // }

  &__popular {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__rating {
    display: block;
    width: 43px;
    height: 42px;
    // background: #0AA778;
    border-radius: $rounding;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-style: 20px;
    font-weight: 500;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-align: right;
    color: #FFFFFF;
  }

  &__section1 {
    padding-left: 8px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: min-content;
  }


  &__payment {
    width: 164px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    padding-left: 24px;
    border-left: 1px solid #EFEFEF
  }

  &__price {
    display: block;
    margin-bottom: 16px;
  }

  &__per {
    display: block;
  }

  &__btn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 140px;
    height: 54px;
    border-radius: 10px;
    text-align: start;
    border: none;
    outline: none;
    padding-left: 40px;
    background: url("./../../images/iconss/arrow-right.svg") right 40px center no-repeat #1098F7;
    cursor: pointer;
  }
}