@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';

.calendar {
  width: 338px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 10px;
  width: 338px;
  text-align: center;
}

.weekday {
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #495057;
  background-color: transparent;
}

.day {
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #868E96;
  background-color: transparent;
}

.day:hover {
  // background-color: #f2f2f2;
}

.day--start {
  border-radius: $rounding;
  background: #0AA778;
  color: #fff;
}

.day--end {
  border-radius: $rounding;
  background: #0AA778;
  color: #fff;
}


.wrap--start:has(.day--start) {
  border-top-left-radius: $rounding ;
  border-bottom-left-radius: $rounding ;
  background: #5CC4A5;
}

.wrap--end:has(.day--end) {
  border-top-right-radius: $rounding ;
  border-bottom-right-radius: $rounding ;
  background: #5CC4A5;
}

.day--between {
  background: #5CC4A5;
  color: #fff;
}

.out-month {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #CED4DA;
  background-color: transparent;
}
