@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';

.hotel-page {
  width: 100%;

  &__photo-row {
    margin-bottom: 48px;
  }

  &__back-button {
    display: block;
    width: min-content;
    padding-left: 30px;
    background: url("./../../images/iconss/back-arrow.svg") left 0 center no-repeat;
    margin-top: 17px;
  }

  &__reviews {
    margin-left: auto;
    margin-top: auto;
  }

  &__anchors {
    border-bottom: 1px solid #F1F3F5;
    display: flex;
    justify-content: start;
  }


  &__anchor {
    display: block;
    height: 100%;
    padding: 8px 20px;


    &--active {
      border-bottom: 3px solid $green;
    }
  }


  &__cards {

    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__section {
    position: relative;
    padding: 0 143px 0 260px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 41px;
  }

  &__button--prev {
    position: absolute;
    left: 21px;
    top: 192px;
    background: url("./../../images/iconss/chevron-left.svg") center no-repeat;
    border: none;
    cursor: pointer;
  }

  &__button--next {
    position: absolute;
    right: 21px;
    top: 192px;
    background: url("./../../images/iconss/chevron-right.svg") center no-repeat;
    border: none;
    cursor: pointer;
  }

  &__calendars {
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 3;

    padding: 24px 56px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    border-radius: $rounding;
    background-color: #fff;
    box-shadow: 24px 46px 21px rgba(117, 117, 117, 0.02), 14px 26px 18px rgba(117, 117, 117, 0.08), 6px 12px 13px rgba(117, 117, 117, 0.13), 2px 3px 7px rgba(117, 117, 117, 0.15), 0px 0px 0px rgba(117, 117, 117, 0.15);
  }

  &__info {
    // position: relative;
    width: 556px;
    margin-right: auto;
    // border: 1px solid black;
  }

  &__amenities-list {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 41px;
  }

  &__booking-form {
    // position: absolute;
    // top: 0;
    // left: 640px;
    width: 450px;

    border-radius: $rounding;
    padding: 32px;
    position: relative;

    &--active {
      border: 2px solid #E23A3A;

      &::after {
        content: "Please select the reservation dates";
        display: block;
        // width: 100px;
        position: absolute;
        bottom: -26px;
        left: 3px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #E23A3A;
        padding-left: 20px;
        background: url("./../../images/iconss/Green.svg") left center no-repeat;
        border: none;
      }
    }
  }

  // &__booking-form::after {
  //   content: "Please select the reservation dates";
  //   display: block;
  //   // width: 100px;
  //   position: absolute;
  //   bottom: -26px;
  //   left: 3px;
  //   font-family: 'Satoshi';
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 140%;
  //   color: #2DC954;
  //   padding-left: 20px;
  //   background: url("./../../images/iconss/Green.svg") left center no-repeat;
  //   border: none;
  // }

  &__rating {
    position: relative;
    height: 42px;
    margin-bottom: 43px;
  }

  &__view-amount {
    position: absolute;
    bottom: 0;
    right: 69px;
  }

  &__search-button {
    width: 100%;
  }

  &__pickers {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__picker {
    width: 118px;
    position: relative;
  }

  &__no-reviews {
    position: absolute;
    top: 156px;
    left: 600px;
  }

  &__no-rooms {
    display: block;
    margin-bottom: 98px;
    width: 700px;
  }

  &__rating-num {
    position: absolute;
    right: 0;
    width: 43px;
    height: 42px;
    // background: #0AA778;
    border-radius: $rounding;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-align: right;
    color: #FFFFFF;
  }

  &__rating-desc {
    position: absolute;
    top: 0;
    right: 69px;
    font-weight: 500;
    font-size: 20px;
  }


  &__amenity-item {
    margin: 0 19px 19px 0;
    display: inline;
  }

  &__topic {
    display: block;
    margin-bottom: 40px;
    width: 100%;
  }

  &__place-name {
    display: block;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 17px;
  }

  &__map-link {
    display: block;
    padding-left: 28px;
    width: fit-content;
    background: url("./../../images/iconss/map-pin-default.svg") left center no-repeat;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    margin-bottom: 65px;
    border: 1px solid #fff;
    transition: $transition;

    // &:hover {
    //   border-bottom: 1px solid #495057;
    // }
  }
}