.hotel-list {
  background-color: #F1F3F5;
  // background-color: #1d78d2;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: start;
  display: block;
  width: 1086px;
  height: 100%;
  padding: 0 24px;
  box-shadow: -15px 18px 9px rgba(148, 148, 148, 0.01), -8px 10px 8px rgba(148, 148, 148, 0.03), -4px 4px 6px rgba(148, 148, 148, 0.04), -1px 1px 3px rgba(148, 148, 148, 0.05), 0px 0px 0px rgba(148, 148, 148, 0.05);

  &__top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__no-hotel {
    background-color: #F1F3F5;
    height: 100%;
    width: 1086px;
    box-shadow: -15px 18px 9px rgba(148, 148, 148, 0.01), -8px 10px 8px rgba(148, 148, 148, 0.03), -4px 4px 6px rgba(148, 148, 148, 0.04), -1px 1px 3px rgba(148, 148, 148, 0.05), 0px 0px 0px rgba(148, 148, 148, 0.05);
  }

  &__amount {
    display: block;
    margin: 24px 0 32px;
    width: 100%;
    text-align: start;
  }

  &>div {
    margin-bottom: 16px;
  }

  &__btn {
    margin: 24px 400px;
    width: 246px;
    height: 54px;
    border-radius: 10px;
    text-align: start;
    border: none;
    outline: none;
    padding-left: 40px;
    background: url("./../../images/iconss/tabler_reload.svg") right 40px center no-repeat #1098F7;
    cursor: pointer;
  }
}