@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';




.gallery-slider {
  &__container {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__main {
    width: 715px;
    height: 450px;
    border-radius: $rounding;
    object-fit: cover;
    margin-bottom: 24px;
    user-select: none;
  }

  &__amount {
    margin-bottom: 24px;
  }

  &__photos {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__photo {
    width: 176px;
    height: 111px;
    object-fit: cover;
    border-radius: $rounding;

    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: scale(101%);
    }
  }

  &__section {
    position: relative;
  }

  &__btn--prev {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    z-index: 7;
    width: 36px;
    height: 36px;
    background: url("./../../images/iconss/chevron-left-white.svg") center no-repeat transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__btn--next {
    position: absolute;
    top: 50%;
    right: -50px;
    width: 36px;
    transform: translateY(-50%);
    height: 36px;
    background: url("./../../images/iconss/chevron-right-white.svg") center no-repeat transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__btn--close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    transform: translateY(-50%);
    height: 24px;
    z-index: 6;
    background: url("./../../images/iconss/x-white.svg") center no-repeat transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

}
