@import './../../src/styles/variables.scss';

.button {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  height: 54px;

  border: none;
  border-radius: $rounding;
  background-color: $blue;
  cursor: pointer;

  color: #fff;
  background-color: $blueDefault;
  transition: $transition;

  &:hover {
    background-color: $blueHover;
  }

  &:active {
    background-color: $blueActive;
  }
}