@import './../../src/styles/variables.scss';

.text-x-gray-400 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  color: $gray;
}

.text-x-gray-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $gray;
}

.text-x-white-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-x-green-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $light-green;
}

.text-x-white-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-xx-gray-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $gray;
}

.text-xx-black-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #000;
}

.text-xx-blue-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $blue;
}

.text-xx-white-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-xx-black-400 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  color: #000;
}

.text-xx-gray-400 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  color: $gray;
}

.text-xx-black-700 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  color: #000;
}

.title-x-black-700 {
  font-size: 24px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  color: #000;
}

.title-xx-black-700 {
  font-size: 32px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  color: #000;
}