// Calendar

$days:
  "1" 0,
  "2" 44px,
  "3" 88px,
  "4" 132px,
  "5" 176px,
  "6" 220px,
  "7" 264px;

$month-length: 28, 29, 30, 31;

$square-size: 44px;
$duration: 3000ms;

$grayX: #F7F9FB;
$grayXX: #F1F3F5;
$grayXXX: #CED4DA;
$grayXXXX: #868E96;
$grayXXXXX:#495057;





$blue: #1098f7;
$green: #0aa778;
$light-green: #2dc954;
$gray: #868e96;
$rounding: 10px;

$transition: all 300ms;


$blueDefault: #1098F7;
$blueActive: #0D7FCE;
$blueHover: #0B65A5;
$blueDisabled: #DDF1FF;

$shadow: 24px 46px 21px rgba(117, 117, 117, 0.02), 14px 26px 18px rgba(117, 117, 117, 0.08), 6px 12px 13px rgba(117, 117, 117, 0.13), 2px 3px 7px rgba(117, 117, 117, 0.15), 0px 0px 0px rgba(117, 117, 117, 0.15);