@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';
@import './../../../src/styles/button.scss';


.photo-page {
  position: relative;
  width: 100%;

  &__photos {
    margin: 0 auto;
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }

  &__photo {
    margin-bottom: 24px;
    width: 448px;
    height: 282px;
    object-fit: cover;
    border-radius: $rounding;
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: scale(101%);
    }
  }

  &__desc {
    margin-bottom: 24px;
    display: block;
    width: 920px;
  }

  &__nav {
    margin-bottom: 17px;
  }

  &__btn {
    padding-left: 30px;
    margin: 0 0 27px 56px;
    background: url("./../../images/iconss/back-arrow.svg") left 0 center no-repeat;
  }
}