@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';
@import './../../../src/styles/CSStransition.scss';

.category {

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox+label {
    border: 1px solid #ffffff;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    right: 0;
  }

  &__checkbox+label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: $transition;
  }

  &__checkbox+label:hover::before {
    border: 1px solid $blueActive;
  }

  &__checkbox:checked+label::before {
    border-color: #0b76ef;
    background: url("./../../images/iconss/check.svg") center / 14px no-repeat #0b76ef;
  }

  &__checkbox:checked+label:hover::before {
    border-color: $blueHover;
    background: url("./../../images/iconss/check.svg") center / 14px no-repeat $blueHover;
  }

  &__btn-show {
    position: relative;
    margin-top: 24px;
    display: flex;
    width: 83px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: $transition;

    &:hover {
      color: $blueHover;
    }
  }

  &__btn-hide {
    position: relative;
    margin-top: 24px;
    display: flex;
    width: 59px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: $transition;
    background-color: transparent;

    &:hover {
      color: $blueHover;
    }
  }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
