@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';



.navigation {
  margin: 0 auto;
  padding: 17px 0 17px 0;
  width: 1440px;
  display: flex;
  justify-content: start;
  align-items: center;

  &__container {
    background-color: $grayXX;
  }

  &__link {
    padding-right: 20px;
    margin-right: 8px;
    display: block;
    // width: min-content;
    background: url("./../../images/iconss/chevron-small-right.svg") right no-repeat;
  }
}