@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';
@import './../../../src/styles/button.scss';



.header {
  width: 100%;
  height: 80px;
  
  border: 1px solid rgba(214, 213, 213, 0.352);




  &__container {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__login-btn {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  &__profile {
    position: relative;
    margin-left: auto;
  }

  &__avatar {
    border: none;
    border-radius: 100%;
    outline: none;
    width: 64px;
    height: 64px;
    background: url("./../../images/iconss/Avatar.svg") center no-repeat transparent;
    transition: $transition;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 5px rgba(214, 213, 213, 0.352);
    }
  }

  &__logout {
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    outline: none;
    border: none;
    cursor: pointer;
    right: 0;
    background-color: #fff;
    border-radius: $rounding;
    width: 94px;
    height: 52px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #E23A3A;

    &:hover {
      background: #F1F3F5;
    }
  }
}