@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';

.carousel {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  overflow: hidden;
  background-color: purple;
  position: relative;

  &__image {
    object-fit: cover;
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
  }

  &:hover &__button--prev {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background: url("./../../images/iconss/right-left.svg") left 7px center no-repeat rgba(247, 249, 251, 0.2);
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: $transition;
  }

  

  &:hover &__button--next {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background: url("./../../images/iconss/left-arrow.svg") left 9px center no-repeat rgba(247, 249, 251, 0.2);
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: $transition;
  }

  &__points {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  &__point {
    width: 8px;
    height: 8px;
    background-color: yellow;
    border-radius: 100%;

    &-active {
      background-color: green;
    }
  }
}