@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';
@import './../../../src/styles/CSStransition.scss';


.side-bar {
  margin-right: 25px;
  padding-top: 24px;
  width: 277px;

  &__filter {
    margin-bottom: 40px;
  }

  &__delete-btn {
    display: inline-block;
    margin: 0 8px 8px 0;
    height: 26px;
    padding-right: 32px;
    border: none;
    border-radius: 4px;
    color: $gray;
    background: url("./../../images/iconss/x.svg") right 8px center / 20px no-repeat #F7F9FB;
    font-family: 'Satoshi';
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #495057;
    cursor: pointer;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F1F3F5;
    padding-bottom: 16px;
    margin-bottom: 24px;
  }


  &__title {
    display: block;
    margin-bottom: 24px;
  }

  &__budget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__budget-from {
    border-radius: $rounding;
    border: none;
    background: #f7f9fb;
    display: block;
    width: 126.5px;
    height: 54px;
    text-align: center;
    border: 1.5px solid #fff;
    outline: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: $transition;

    &::placeholder {
      font-size: 16px;
      font-family: 'Satoshi', sans-serif;
      font-weight: 500;
      color: $gray;
      transition: $transition;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:hover {
      border: 1.5px solid #495057;
      background: #fff;
    }

    &:focus {
      border: 1.5px solid $blue;
      background: #fff;
    }
  }

  &__budget-to {
    border-radius: $rounding;
    border: none;
    background: #f7f9fb;
    display: block;
    width: 126.5px;
    height: 54px;
    text-align: center;
    border: 1.5px solid #fff;
    outline: none;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: $transition;

    &::placeholder {
      font-size: 16px;
      font-family: 'Satoshi', sans-serif;
      font-weight: 500;
      color: $gray;
      transition: $transition;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:hover {
      border: 1.5px solid #495057;
      background: #fff;
    }

    &:focus {
      border: 1.5px solid $blue;
      background: #fff;
    }
  }

  &__clear {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: $blueHover;
    }

    &:active {
      color: $blueActive;
    }

  }

  &__filter-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #A4A4A4;
    border-radius: 2px;
    color: white;
  }


  &__category {
    margin-bottom: 40px;
    transition: margin 0.3s ease-out;
  }

  &__adjusments {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  &__icon {
    height: 16px;
    width: 16px;
    background: url("../../images/icons/Adjusments.svg") no-repeat center;
  }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}


.my-element-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.my-element-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.my-element-exit {
  opacity: 1;
  transform: translateY(0);
}

.my-element-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms;
}
