@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';

.category {

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox+label {
    border: 1px solid #ffffff;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  &__checkbox+label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__checkbox+label:hover::before {
    border: 1px solid $blueActive;
  }

  &__checkbox:checked+label::before {
    border-color: #0b76ef;
    background: url("./../../images/iconss/check.svg") center / 14px no-repeat #0b76ef;
  }

  &__checkbox:checked+label:hover::before {
    border-color: $blueHover;
    background: url("./../../images/iconss/check.svg") center / 14px no-repeat $blueHover;
  }

  &__btn-show {
    margin-top: 24px;
    display: flex;
    width: 83px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: url("./../../images/iconss/chevron-down-default.svg") center right no-repeat;

    &:hover {
      color: $blueHover;
      background: url("./../../images/iconss/chevron-down-hover.svg") center right no-repeat;
    }
  }


  &__btn-hide {
    margin-top: 24px;
    display: flex;
    width: 59px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: url("./../../images/iconss/chevron-up-default.svg") center right no-repeat;

    &:hover {
      color: $blueHover;
      background: url("./../../images/iconss/chevron-up-hover.svg") center right no-repeat;
    }
  }
}