@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';
@import './../../../src/styles/button.scss';

.auth-container {
  width: 100%;
  height: 100vh;

  position: absolute;
  z-index: 10;

  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  position: relative;
  background-color: #fff;
  padding: 48px;
  border-radius: $rounding;

  &__cross {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 24px;
    right: 24px;

    background: url("./../../images/iconss/x.svg") center no-repeat transparent;
    border: none;
    transition: $transition;
    outline: none;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__desc {
    display: block;
    margin-bottom: 32px;
  }

  &__field {
    width: 448px;
    margin-top: 16px;
  }

  &__login-btn {
    width: 100%;
    margin-top: 24px;
  }

  &__forgot-btn {
    margin-top: 4px;
    float: right;

    display: flex;
    justify-content: end;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: $blueHover;
    }
  }

  &__signup-section {
    margin-top: 24px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
  }

  &__signup-btn {
    float: right;

    display: flex;
    justify-content: end;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: $blueHover;
    }
  }
}