@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';
@import './../../../src/styles/button.scss';

.login-page {
  // border: 1px solid red;
  width: 100%;
  height: 100vh;

  position: absolute;
  z-index: 10;

  &__section {
    width: 100%;
    // border: 1px solid black;
    margin-bottom: 17px;
  }

  &__btn {
    display: block;
    width: min-content;
    padding-left: 30px;
    background: url("./../../images/iconss/back-arrow.svg") left 0 center no-repeat;
    // background-color: green;
  }

  &__form {
    margin: 0 auto;
    width: 448px;
    // border: 1px solid red;
    position: relative;
    background-color: #fff;
    border-radius: $rounding;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__desc {
    display: block;
    margin-bottom: 32px;
  }

  &__field {
    width: 448px;
    margin-top: 16px;
  }

  &__login-btn {
    width: 100%;
    margin-top: 24px;
  }

  &__forgot-btn {
    margin-top: 4px;
    float: right;

    display: flex;
    justify-content: end;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: $blueHover;
    }
  }

  &__signup-section {
    margin-top: 24px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
  }

  &__signup-btn {
    float: right;

    display: flex;
    justify-content: end;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      color: $blueHover;
    }
  }
}