@import './../../../src/styles/variables.scss';
@import './../../../src/styles/fonts.scss';

.payment-page {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 40px 260px;
  &__data {
    width: 449px;
    // border: 1px solid black;
  }

  &__btn {

    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 30px;
    margin: 17px 0 35px 0;
    background: url("./../../images/iconss/back-arrow.svg") left 0 center no-repeat;
  }

  &__topic--card {
    border-bottom: 1px solid #F1F3F5;
    padding-bottom: 4px;
    margin-bottom: 36px;
  }

  &__room-amount {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin-top: 15px;
    border-top: 1px solid #F1F3F5;
    padding-top: 20px;
  }

  &__rating {
  margin-bottom: 24px;
  }

  &__night {
    display: block;
    margin-bottom: 16px;
    }

  &__topic-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  // &__topic-section--card {
  //   border: 1px solid rgb(189, 189, 189);
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 24px;
  // }

  &__field {
    margin-bottom: 16px;
  }

  &__email-desc {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #868E96;
  }

  &__phone-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__desc {
    display: block;
    margin-bottom: 16px;
  }

  &__textarea {
    margin-top: 18px;
    margin-bottom: 40px;
  }

  &__button {
    width: 100%;
  }

  &__date {
    width: 216px;
  }

  &__cvc {
    width: 216px;
  }

  &__phone-code {
    width: 118px;
  }

  &__phone {
    width: 322px;
  }

  &__check {
    display: block;
    margin-bottom: 8px;
  }

  &__check-date {
    display: block;
    margin-bottom: 16px;
  }

  &__segment {
    display: block;
    padding: 3px 8px;
    width: fit-content;
    border-radius: $rounding;
    background: #EAFAEE;
    border-radius: 4px;
    color: #2DC954;
    margin-bottom: 16px;
  }

  &__card {
    width: 330px;
    border-radius: $rounding;
    padding: 24px;
    box-shadow: 4px 4px 17px rgba(172, 175, 185, 0.12);
    border-radius: 10px;
    margin-bottom: 24px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__textarea {
    padding: 10px;
    width: 100%;
    border-radius: $rounding;
    border: 2px solid #F1F3F5;
    outline: none;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    height: 86px;
    resize: none;

    &:focus {
      border: 2px solid $blueActive;
    }

    &::placeholder {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #CED4DA;
    }
  }

}