$blue: #1098f7;
$green: #0aa778;
$light-green: #2dc954;
$gray: #868e96;
$rounding: 10px;


.text-x-gray-400 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  color: $gray;
}

.text-x-gray-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $gray;
}

.text-x-white-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-x-green-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $green;
}

.text-x-gray-500 {
  font-size: 14px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-xx-gray-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $gray;
}

.text-xx-gray-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #000;
}

.text-xx-gray-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: $blue;
}

.text-xx-gray-500 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  color: #fff;
}

.text-xx-black-400 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  color: #000;
}

.text-xx-gray-400 {
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  color: $gray;
}

.title-x-black-700 {
  font-size: 24px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  color: #000;
}


// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
