@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "Satoshi",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}
