.homepage {
  margin: 0 auto;
  height: 100vh;
}

.containerr {
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    #F1F3F5 50%,
    #F1F3F5 100%
  );
  display: flex;
  justify-content: center;
  gap: 29px;
}